/* :host {
  width: 100vw;
}
 */

.blog-card {
  display: flex;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.card-body {
  margin: 1rem;
}

img {
  height: auto;
  width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .blog-card {
    flex-direction: column;
  }

  img {
    width: 100%;
    max-height: 300px;
  }
}
