<a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
<a *ngIf="isLoggedIn" routerLink="/new">Create new post</a>
<!-- <a routerLink="/new">Create new post</a> -->
<button *ngIf="isLoggedIn" (click)="onLogOut()">Log Out</button>
<div class="container">
  <div class="blog-card" *ngFor="let blog of blogs" [routerLink]="blog.id">
    <img *ngIf="blog.image !== ''" [src]="blog.image" alt="{{ blog.image }}" />
    <div class="card-body">
      <p>{{ blog.title }}</p>
      <p>{{ blog.body | shorten }}</p>
    </div>
  </div>
</div>
