<div class="wraper">
  <h1>Welcome to BlogSHITE</h1>
  <a routerLink="/">Go Back</a>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" />
    <span
      *ngIf="
        !signUpForm.get('username').valid && signUpForm.get('username').touched
      "
      >Enter username</span
    >
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" />
    <span
      *ngIf="
        !signUpForm.get('password').valid && signUpForm.get('password').touched
      "
      >Enter password</span
    >
    <label for="email">Email</label>
    <input type="text" formControlName="email" id="email" />
    <span
      *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
      >Enter valid email</span
    >
    <button type="submit">Submit</button>
    <div *ngIf="formState === 'confirmSignUp'">
      <label for="verification">Enter code from email</label>
      <input type="text" formControlName="verificationCode" />
    </div>
  </form>
  <a routerLink="/login">Or log in</a>
</div>
