<a routerLink="/">Go Back</a>
<a *ngIf="userId === blog.userId" routerLink="edit">Update Post</a>
<button *ngIf="userId === blog.userId" (click)="deletePost()">
  Delete Post
</button>
<div class="container">
  <img [src]="blog.image" alt="" />
  <p>{{ blog.title }}</p>
  <p>{{ blog.body }}</p>
  <hr />
  <p>Comments</p>
  <div *ngIf="userId" class="add-comment">
    <label for="Comment">Add comment:</label>
    <textarea type="text" [(ngModel)]="message"></textarea>
    <button class="btn" (click)="postComment()">Post comment</button>
    <button class="btn" *ngIf="message !== ''" (click)="clearComment()">
      Cancel
    </button>
  </div>
  <app-comments
    *ngFor="let comment of blog.comments"
    [comment]="comment"
    [blogId]="blogId"
    [commentId]="comment.id"
  ></app-comments>
</div>
