<div>
  <p [hidden]="isEditMode">{{ comment.username }}: {{ comment.commentBody }}</p>
  <form
    [hidden]="!isEditMode"
    [formGroup]="updateCommentForm"
    (ngSubmit)="updateComment()"
  >
    <textarea cols="30" rows="1" formControlName="comment"></textarea>
    <button *ngIf="userId === comment.userId" type="submit">
      Save Comment
    </button>
    <button (click)="toggleEditMode()" type="button">Cancel</button>
  </form>

  <div [hidden]="isEditMode">
    <button *ngIf="userId === comment.userId" (click)="toggleEditMode()">
      Update Comment
    </button>
    <button *ngIf="userId === comment.userId" (click)="deleteComment()">
      Delete Comment
    </button>
  </div>
</div>
<button
  [disabled]="!userId"
  [ngStyle]="{ 'background-color': voteStatus == 1 ? '#73c7af' : '#ffffff' }"
  (click)="updateVote(1)"
>
  Upvote
</button>
<button
  [disabled]="!userId"
  [ngStyle]="{ 'background-color': voteStatus == -1 ? '#73c7af' : '#ffffff' }"
  (click)="updateVote(-1)"
>
  Downvote
</button>
{{ voteCount }}
<app-replies
  *ngFor="let reply of comment.replies"
  [reply]="reply"
  [blogId]="blogId"
  [commentId]="comment.id"
></app-replies>
<form *ngIf="isReply" [formGroup]="postReplyForm" (ngSubmit)="postReply()">
  <textarea cols="30" rows="1" formControlName="reply"></textarea>
  <button [hidden]="!userId" *ngIf="isReply" type="submit">Post reply</button>
  <button
    [hidden]="!userId"
    *ngIf="isReply"
    type="button"
    (click)="toggleReply()"
  >
    Cancel
  </button>
</form>
<button
  [hidden]="!userId"
  *ngIf="!isReply"
  (click)="toggleReply()"
  type="button"
>
  Add reply
</button>
